.calendar-container {
    max-width: 800px;
    overflow: hidden;
    padding-bottom: 1rem;
    margin: 0 auto;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#confirmForm {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

#confirmForm textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.fc-daygrid-day {
    cursor: pointer;
}

.fc .fc-daygrid-day.active-cell {
    background-color: var(--bs-primary-bg-subtle);
}

.fc-day:not(.fc-day-disabled):not(.active-cell):hover {
    background-color: var(--bs-tertiary-bg)
}

.reserved {
    background: red;
    pointer-events: none;
}

.available {
    cursor: pointer;
}

.accordion-button:disabled {
    opacity: 0.5;
}

.shift-period-button {
    width: 100px;
    padding: 10px;
    text-align: center;
}