.anchor-card {
    text-decoration: none;
    box-shadow: var(--bs-box-shadow);
    max-height: 500px;
    overflow: hidden;
}

.anchor-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Creo que no se usan tampoco para nada... */
.fc-daygrid-day-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fc-daygrid-day-event {
    width: 100%;
    height: 100%;
}

.fc-daygrid-day-top {
    display: flex;
    justify-content: center;
    align-items: center;
}