.three-line-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limitar a 3 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Asegurar que el ancho esté limitado */
    word-wrap: break-word; /* Rompe las palabras largas */
    word-break: break-all; /* Permitir que las palabras largas se rompan */
}

.availability-button {
    background-color: #f8f9fa; /* Gris claro */
    color: #000; /* Color de texto negro */
    max-width: 200px; /* Ancho máximo definido */
}

.availability-button:hover {
    background-color: #e9ecef; /* Un poco más oscuro al hacer hover */
}

.availability-divider {
    border-bottom: 1px solid #dee2e6; /* Añadir una línea divisoria gris clara */
}


.contact-form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 1rem auto;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}


#contactButton {
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#contactButton:hover {
    background-color: #3e8e41;
}

#contactForm {
    display: none;
}


#contactForm.show {
    display: block;
}


label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
}


textarea {
    resize: vertical;
}



.contact-form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 1rem auto;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

#contactButton {
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#contactButton:hover {
    background-color: #3e8e41;
}

#contactForm {
    display: none;
}


#contactForm.show {
    display: block;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

.anchor-card {
    text-decoration: none;
    box-shadow: var(--bs-box-shadow);
    max-height: 500px;
    overflow: hidden;
}

.anchor-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.calendar-container {
    max-width: 40%;
    margin: 0 auto;
}

.header-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.page-title {
    margin-top: 20px;
    text-align: center;
}

.fc-daygrid-day-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fc-daygrid-day-event {
    width: 100%;
    height: 100%;
}

.fc-daygrid-day-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

#confirmForm {
    display: none;
    max-width: 40%;
    margin: 0 auto;
}