.star {
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    color: gray;
}

.star:hover {
    transform: scale(1.5);
}

.star.selected {
    color: gold;
}

.star-rating{
    position: relative;
}

.star-rating > input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    bottom: 0;
    left: 0;
}