img {
    object-fit: contain;
}

.pagination {
    cursor: pointer;
}

.ts-dropdown, .ts-control {
    color: var(--bs-body-color);
}

.custom-file-button input[type=file] {
    margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button input[type=file]::file-selector-button {
    display: none;
}

.custom-file-button:hover label {
    background-color: var(--bs-secondary-bg);
    cursor: pointer;
}