.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Similar to background-sizeLowerCase: cover */
    object-position: center; /* Similar to background-position: center */
    filter: brightness(75%) blur(5px);
    z-index: -1; /* Ensure the image stays behind the content */
}

.company-presentation h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.company-presentation p,
.company-presentation ul {
    font-size: 1.125rem;
}