.weekday-toggle-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.square-toggle-item {
    min-width: 2.5rem;
    max-width: 3.5rem;
    padding: 0;
}

.square-toggle-label {
    padding: 0;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: var(--bs-gray);
    border-color: var(--bs-gray-600);
}

.square-toggle-label:hover {
    background-color: var(--bs-gray-700);
    border-color: var(--bs-gray-800);
}

/*
This is necessary because spring's form:checkbox adds an unnecessary hidden input
element after the checkbox, and bootstrap uses next sibling selector to select the
label so it doesn't find it.
*/
.btn-check:checked ~ .square-toggle-label {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
}