.btn-check:not(:checked) ~ .toggle-label:hover {
    background-color: var(--bs-primary-bg-subtle);
    border-color: var(--bs-primary-bg-subtle);
}

.btn-check:checked ~ .toggle-label:not(:hover) {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
}
