.contact-form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 1rem auto;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

#contactButton {
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#contactButton:hover {
    background-color: #3e8e41;
}

#contactForm {
    display: none;
}


#contactForm.show {
    display: block;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}