.weekday-toggle-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.weekday-toggle-item {
    min-width: 2.5rem;
    max-width: 3.5rem;
    padding: 0;
}

.weekday-toggle-label {
    padding: 0;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: var(--bs-gray);
    border-color: var(--bs-gray-600);
}

.weekday-toggle-label:hover {
    background-color: var(--bs-gray-700);
    border-color: var(--bs-gray-800);
}

/*
This is necessary because spring's form:checkbox adds an unnecessary hidden input
element after the checkbox, and bootstrap uses next sibling selector to select the
label so it doesn't find it.
*/
.btn-check:checked ~ .weekday-toggle-label {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
}

.welcome-main-div {
    position: relative;
    overflow: hidden;
}

/*.welcome-main-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: image("/WEB-INF/resources/images/welcome_picture.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter:  brightness(75%) blur(5px);
    z-index: -1;
}*/
.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Similar to background-size: cover */
    object-position: center; /* Similar to background-position: center */
    filter: brightness(75%) blur(5px);
    z-index: -1; /* Ensure the image stays behind the content */
}

.welcome-page-div-text {
    position: relative;
    z-index: 1;
    color: aliceblue;
}

.welcome-page-div-text h1 ,
.welcome-page-div-text p{
    color: white;
}

.company-presentation {
    background-color: #f8f9fa;
}

.company-presentation h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.company-presentation p,
.company-presentation ul {
    font-size: 1.125rem;
}

.company-presentation blockquote {
    border-left: 4px solid #007bff;
    padding-left: 1rem;
    margin: 0;
}

