<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Driver service requested </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://pawserver.it.itba.edu.ar/paw-2024b-01/css/bootstrap.min.css">

</head>
<body style="background-color: #f8f9fa; font-family: Arial, sans-serif; padding: 20px;">
<div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 5px; padding: 20px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);">


    <h1 th:text="#{mail.driver.request.header}" class="text-center m-2">Requested services</h1>


    <h3 th:text="#{mail.request.details}" class="m-2">Details</h3>


    <div class="m-2">
        <ul>
            <li th:text="#{mail.request.name(${clientName})}">Name</li>
            <li th:text="#{mail.request.date(${dateRequested.toString()})}" ><strong>Date:</strong> 2024-10-01</li>
            <li th:text="#{mail.request.contact(${clientMail})}" ><strong>Contact Info:</strong> johndoe@example.com</li>
        </ul>
    </div>


    <div class="m-2">
        <h3 th:text="#{mail.driver.request.jobDescription}" style="color: #6c757d;">Job Description</h3>
        <p th:text="${jobDescription}" style="color: #343a40;">Loading and delivering goods across the city.</p>
    </div>


    <footer th:text="#{mail.footer}" class= "text-center m-2" style="color: #6c757d; font-size: 12px;">Thanks for using Van N' Go</footer>
</div>
</body>
