<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Prueba templates java mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="#{mail.siteName}">
    name
</h1>

<h2 th:text="#{welcome(${userName})}">Welcome (name) to the Van N' Go community</h2>

<p th:text="#{client.welcome.firstSteps}">
    Start searching drivers fit for your job here (link).
</p>

<footer th:text="#{request.footer}">Thanks for using Van N' Go</footer>
</body>
</html>