<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Hauler welcome mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1 th:text="#{hauler.welcome.greeting(${haulerName})}" > Welcome (name) to the Van N' Go community </h1>

<h2 th:text="#{hauler.nextSteps}"> Follow this steps to start receiving reservations</h2>

<div>
    <ul>
        <li th:text="#{hauler.nextSteps.addVehicles}  " >name</li>
        <li th:text="pawserver.it.itba.edu.ar/paw-2024b-01/driver/${id}/vehicule/add"></li>
        <li th:text="#{hauler.nextSteps.addAvailability}">date</li>
        <li th:text="pawserver.it.itba.edu.ar/paw-2024b-01/driver/${id}/availability/add"></li>
    </ul>
</div>



<footer th:text="#{request.footer}">Thanks for using Van N' Go</footer>

</body>