<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Prueba templates java mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="#{siteName}">
    name
</h1>

<h2 th:text="#{hauler.welcome.greeting(${userName})}">
        Welcome User!
</h2>

<p th:text="#{client.welcome.firstSteps}">
    Start searching drivers fit for your job here (link).
</p>

<p>
    Regards, <br />
    <em>The Van N' Go team</em>
</p>
</body>
</html>